.hide {
    display: none;
}

body {
    background-color: rgb(238, 221, 247);
    align-items: center;

}


h1 {
    font-size: 45px;
    color: rgb(226, 43, 150);
    align-content: center;
    padding: 10px 50px 0px 10px;
    margin: 10px 50px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


h2 {
    color: rgb(122, 47, 151);
    font-size: 50px;
    /* display: inline-flex; */
    /* justify-content: center; */
}



#highScoreBox {
    width: 200px;
    height: 50px;
    background-color: rgb(219, 141, 206);
    border: 2px solid black;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    /* justify-content: center; */

}